<% layout('layout') -%>


<div class="wrapper">
    <div class="loginContainer">

      <form  method="post">
          <h1>Login</h1>
          
          <input type="text"  placeholder="username or email" name="email" required>
          
          <input type="password" placeholder="password" name="password" required>
          <input type="submit" Login >
          <a href="/register" >Need an account? Register here</a>
          
        </form>

    </div>
</div>
</br>

