<% layout('layout') -%>


<div class="wrapper">
    <div class="loginContainer">

      <form  id="signupForm" method="post" onsubmit="event.preventDefault(); validateForm();">
          <h1>Sign Up</h1>
          
          <input type="text"  placeholder="firstName" name="First Name" value="firstName" required>
          <input type="text"  placeholder="lastName" name="Last Name" value="lastName" required>
          <input type="text"  placeholder="username" name="username" value="username" required>
          <input type="email"  placeholder="email" name="email" value="email" required>
          
          <input id="password" type="password" placeholder="password" name="password" required>
          <input id="passwordConfirm" type="password" placeholder="confirm password" name="passwordConfirm" required>
          <input type="submit" value="Sign Up" >
          <a href="/login" >Already have an account? Login here</a>
          
        </form>
        <script>
          let passwordField = document.getElementById("password")
          let passwordConfirmField = document.getElementById("passwordConfirm")
          let form = document.getElementById("signupForm")

          function validateForm() {
            if (passwordField.value != passwordConfirmField.value) {
              alert("Passwords do not match")
            } else {
              form.submit()
            }
          }
        </script>

    </div>
</div>
</br>

